
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-body all-icons">
          <div class=" row">
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail">
                <i class=" tim-icons icon-single-02"> </i>
                <p>Principal</p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail" [routerLink]="['/files/suppliers']">
                <i class=" tim-icons icon-delivery-fast"> </i>
                <p>Supplier</p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail" [routerLink]="['/files/doctors']">
                <i class=" tim-icons icon-single-02"> </i>
                <p>Doctor</p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail" [routerLink]="['/files/area']">
                <i class=" tim-icons icon-app"> </i>
                <p>Area</p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail" [routerLink]="['/files/sub-area']">
                <i class=" tim-icons icon-atom"> </i>
                <p>Sub Area</p>
              </div>
            </div>
            <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class=" font-icon-detail" [routerLink]="['/files/customer']">
                <i class=" tim-icons icon-satisfied"> </i>
                <p>Customer</p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail" [routerLink]="['/files/product']">
                <i class=" tim-icons icon-app"> </i>
                <p>Products</p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail" [routerLink]="['/files/product-list']">
                <i class=" tim-icons icon-molecule-40"> </i>
                <p>Products per Supplier</p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail" [routerLink]="['/files/product-price']">
                <i class=" tim-icons icon-pencil"> </i>
                <p>Edit Product Price</p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail">
                <i class=" tim-icons icon-user-run"> </i>
                <p>Sales Representative</p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail">
                <i class=" tim-icons icon-bus-front-12"> </i>
                <p>Vehicle Entry</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
