<div class=" content">
  <div class=" row">
    <div class=" col-md-10">
      <div class=" card">
        <h3 class="card-header text-center font-weight-bold">New Product Entry</h3>
        <hr>
        <div class=" card-body">
          <form>
            <div class="row">
              <div class=" col-md-3 pr-md-1">
                <div class="form-group">
                  <label for="code">Product Code</label>
                  <input type="text" class="form-control" placeholder="Product Code" id="customerCode" required>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Product Name </label>
                  <input class=" form-control" placeholder="Product Name" type="text" />
                </div>
              </div>

              <div class=" col-md-2 pr-md-1">
                <div class=" form-group">
                  <label> Unit Of Measure </label>
                  <input class=" form-control" placeholder=" Unit Of Measure" type="text" />
                </div>
              </div>
            </div>
            <div class=" form-group">
              <div class=" row">
                <div class=" col-md-2 pr-md-1">
                  <label> Primary Unit </label>
                </div>
                <div class=" col-md-2 pr-md-1">
                  <label> Secondary Unit </label>
                </div>
              </div>
              <div class=" row">
                <div class=" col-md-2 pr-md-1">
                  <select class="mdb-select md-form" searchable="Search here..">
                    <option value="" disabled selected>Please select</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                </div>

                <div class=" col-md-2 pr-md-1">
                  <select class="mdb-select md-form" searchable="Search here..">
                    <option value="" disabled selected>Please select</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                </div>
              </div>
            </div>


            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Conversion </label>
                  <input class=" form-control" placeholder="Conversion" type="text" />
                </div>
              </div>
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Re-order Level </label>
                  <input class=" form-control" placeholder="Re-order Level" type="text" />
                </div>
              </div>
              <div class=" col-md-2 pr-md-1">
                <div class=" form-group">
                  <label> Product Type </label>
                  <input class=" form-control" placeholder="Product Type" type="text" />
                </div>
              </div>
            </div>



            <div class=" form-group">
              <div class=" row">
                <div class=" col-md-6 pr-md-1">
                  <label> Supplier </label>
                </div>
                <div class=" col-md-4 pr-md-1">
                  <label> Alto Product </label>
                </div>
              </div>
              <div class=" row">
                <div class=" col-md-6 pr-md-1">
                  <input class=" form-control" placeholder="Supplier" type="text" />
                </div>

                <div class=" col-md-4 pr-md-1">
                  <select class="mdb-select">
                    <option value="1" selected>Yes</option>
                    <option value="2">No</option>
                  </select>
                </div>
              </div>
            </div>

            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label for=""> Rates </label>
                  <div class="row">
                    <div class=" col"><input class=" form-control" placeholder="Regular Rates" value="0.00"
                        type="number" /></div>
                    <div class=" col"><input class=" form-control" placeholder="Special Rates" value="0.00"
                        type="number" /></div>
                  </div>
                </div>
              </div>
            </div>

            <div class=" row">
              <div class=" col-md-1 pr-md-1">
                <div class=" form-group">
                  <label> 5 % </label>
                  <input class=" form-control" value="0.00" type="text" />
                </div>
              </div>

              <div class=" col-md-1 pr-md-1">
                <div class=" form-group">
                  <label> 10% </label>
                  <input class=" form-control" value="0.00" type="text" />
                </div>
              </div>

              <div class=" col-md-1 pr-md-1">
                <div class=" form-group">
                  <label> 15% </label>
                  <input class=" form-control" value="0.00" type="text" />
                </div>
              </div>

              <div class=" col-md-1 pr-md-1">
                <div class=" form-group">
                  <label> 20% </label>
                  <input class=" form-control" value="0.00" type="text" />
                </div>
              </div>
            </div>

          </form>
        </div>
        <div class=" card-footer">
          <button type="button" class="btn btn-outline-primary pull-right" ng-click="cancel()"
            [routerLink]="['/files']">Cancel</button>
          <button class="btn btn-primary pull-right" style="margin-right: 5px;" type="submit">Save</button>
        </div>
      </div>
    </div>

  </div>
</div>